.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.sender {
  font-weight: bold;
  margin-right: 20px;
}

.text {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.user-message {
  text-align: right;
  float: right;
}
